body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    opacity: .75;
}

img, div {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    padding: 8px;
}

.push-right {
    margin-left: auto;
}

.push-left {
    margin-right: auto;
}

.logo {
    padding-top: 200px;
    padding-bottom: 30px;
}

.search-box {
    width: 584px;
    height: 46px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    display: flex;
    align-items: center;
}

.microphone {
    width: 19px;
    height: 19px;
    padding-right: 10px;
    display: flex;
}

.box {
    width: 487px;
    height: 34px;
    display: flex;
}

.magnifying-glass {
    width: 20px;
    height: 20px;
    padding-left: 7px;
    display: flex;
}

.bottom-navbar{
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}